<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SchoolBook{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
        <div id="main-wrapper">
            {% include 'common/navbar.html.twig' %}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                {% include 'admin/partials/navigation.html.twig' %}
            {% endif %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="text-center alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}
                <div class="container body-container" id="main">
                    <div class="row">
                        <div id="content" class="col-12">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
            {% include 'common/footer.html.twig' %}
        </div>
    </body>
</html>



