{% extends 'base.html.twig' %}
{% block main %}
    <div class="row">
        <div class="col-12 schedule-table mt-5">
            <div class="row">
                <div class="custom-table-temlate">
                {% if days is defined and days|length > 0 %}
                        <div class="header">Weekly Schedule</div>
                        <table cellspacing="0">
                            <tr>
                                {% for day in days %}
                                    <th class="{{ day.day == "now"|date('l') ? 'active-day' : '' }}">{{ day.day }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for day in days %}
                                    <td class="single-day {{ day.day }}" id="{{ day.id }}">
                                        <table cellspacing="0">
                                            <tr class="single-subject-row">
                                                <td class="single-subject">1. {{ day.first }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">2. {{ day.second }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">3. {{ day.third }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">4. {{ day.fourth }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">5. {{ day.fifth }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">6. {{ day.sixth }}</td>
                                            </tr>
                                            <tr class="single-subject-row">
                                                <td class="single-subject">7. {{ day.seventh }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                {% else %}
                    <div class="header">You are not registered yet.</div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
