{% extends 'base.html.twig' %}
{% block main %}
<h3 class="text-center m-2">You currently teaching: <span>{{ teacherClass.name }}</span> grade</h3>
{% if unsubscribedStudents is defined and unsubscribedStudents|length > 0 %}
    <h3 class="text-center m-2 mt-5">Unregistered Students: </h3>
    <div class="row">
        <div class="col-10 offset-1 mt-5 mb-5">
            <div class="custom-table-temlate">
                <div class="header">Unregistered Students</div>
                <table cellspacing="0">
                    <tr>
                        <th>Picture</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Personal ID</th>
                        <th>Actions</th>
                    </tr>
                    {% for student in unsubscribedStudents %}
                        <tr>
                            <td><img src="{{ asset('uploads/images/' ~ student.image) }}" alt=""></td>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.personalId }}</td>
                            <td class="text-center">
                                <a href="{{ path('teacher_register_student', {'id': student.id}) }}"
                                   class="btn-success btn">Register</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% if students is defined and students|length > 0 %}
    <div class="row">
        <div class="col-10 offset-1 mt-5 mb-5">
            <div class="custom-table-temlate">
                <div class="header">Registered Students</div>
                <table cellspacing="0">
                    <tr>
                        <th>Picture</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Personal ID</th>
                        <th>Actions</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td><img src="{{ asset('uploads/images/' ~ student.image) }}" alt=""></td>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.personalId }}</td>
                            <td class="text-center">
                                <a href="{{ path('teacher_details', {'id': student.id}) }}"
                                   class="btn-success btn">Details</a>
                                <a href="{{ path('teacher_remove_student', {'id': student.id}) }}"
                                   class="btn-danger btn">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}